{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <div class="container mt-2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Bricount</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link text-primary" href="/login">Login </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-success" href="/register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

{% endblock %}


