{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row min-vh-100">
        <div class="d-flex flex-grow-1">
            <div class="d-flex w-50 p-4 align-items-center">
                <div class="mx-auto w-100">
                {% block content %}{% endblock %}
                </div>
            </div>
            <div class="d-none d-md-flex flex-column w-50 p-4 bg-primary text-white justify-content-center">
                <div class="mx-auto text-center">
                    <h1>Bricount</h1>
                    <span>Votre application préférée pour gérer votre budget !</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
